.header-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
}

.progress-board {
    margin-top: 40px;
}

.board-container {
    display: flex;
    flex-direction: column;
    border: none;
}

.empty-list-wrapper {
    text-align: center;
}

.empty-illustration {
    margin-bottom: 40px;
    width: 45%;
}

.empty-list-title {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: var(--raisin-black);
}

.card-content {
    font-size: var(--default-content-font-size);
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--raisin-black);
}

.card-content--highlighted {
    font-weight: 500;
}

.cancel-btn,
.submit-btn,
.restore-btn,
.delete-btn {
    padding: 10px 20px;
    font-size: var(--default-content-font-size);
    line-height: var(--default-content-line-height);
    font-weight: 500;
    color: var(--majorelle-blue);
    background-color: transparent;
    border-radius: var(--default-border-radius);
    cursor: pointer;
}

.cancel-btn,
.restore-btn {
    &:hover {
        background-color: rgb(230, 224, 255);
    }
}

.submit-btn,
.delete-btn {
    color: var(--snow);
    background-color: var(--imperial-red);

    &:hover {
        background-color: rgb(201, 55, 67);
    }
}

// Responsive
@media (min-width: 0) and (max-width: 899px) {
    .card-content {
        text-align: center;
    }
}