.MuiDialogTitle-root {
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--raisin-black);
}

.MuiPaper-root.MuiDialog-paper {
    background-color: var(--snow);
    width: 100%;
}

.MuiInput-root,
.MuiInputLabel-root {
    font-family: var(--font-family);
    color: var(--raisin-black);
}

.MuiInputLabel-root.Mui-focused {
    color: var(--majorelle-blue);
}

.MuiInputBase-root.MuiInput-root:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid var(--majorelle-blue);
}

.MuiInputBase-root.MuiInput-root:after {
    border-bottom: 2px solid var(--majorelle-blue);
}

.MuiCalendarPicker-root {
    background-color: var(--snow);
}

.MuiPickersDay-root {
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1rem;
    color: var(--raisin-black);
    background-color: var(--snow);
}

.MuiPickersDay-root.Mui-selected {
    color: var(--snow);
    background-color: var(--majorelle-blue);
}

.MuiIconButton-root:hover {
    background-color: rgb(230, 224, 255);

}