.header-space {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.project-title {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    min-width: 200px;
    max-width: 200px;
}

.project-done-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: var(--default-content-font-size);
    font-weight: 500;
    line-height: var(--default-content-line-height);
    background-color: var(--dark-pastel-green);
    color: var(--snow);
    border-radius: var(--default-border-radius);
    cursor: pointer;

    &.enabled {
        background-color: var(--dark-pastel-green);
        cursor: pointer;
    }

    &.disabled {
        background-color: var(--celadon);
        cursor: not-allowed;
    }
}

.workflow-space {
    display: flex;
}

.workflow-wrapper {
    display: flex;
    justify-content: space-between;
}

.workflow-space {
    margin-top: 54px;
}

// Modal
.modal-project-done {
    text-align: center;
}

.modal-project-done__title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--majorelle-blue);
    text-transform: uppercase;
    letter-spacing: 2;
}

.modal-project-done__illustration {
    width: 25vh;
    padding: 20px 0;
}

.modal-project-done__content,
.modal-project-option__content {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.modal-project-option__content {
    font-weight: 400;
}

.delete-btn,
.archive-btn {
    padding: 8px 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.archive-btn {
    color: var(--majorelle-blue);
    background-color: transparent;
    border-radius: var(--default-border-radius);

    &:hover {
        background-color: rgb(230, 224, 255);
    }
}

.delete-btn {
    color: var(--snow);
    background-color: var(--majorelle-blue);
    border-radius: var(--default-border-radius);

    &:hover {
        background-color: rgb(201, 55, 67);
    }
}